alias cleand="~/scripts/cleand.sh"
alias cht="~/scripts/cht.sh"
alias next="~/scripts/next.sh"
alias spotify="~/scripts/spotify.sh > /dev/null 2>&1 &"
alias t3="npm create t3-app@latest"
alias tmx="~/scripts/tmx.sh"
alias vim="nvim"
alias p="cd ~/personal/"
alias w="cd ~/work/"
alias clone="~/scripts/clone.sh"
alias nv="cd ~/.config/nvim/ && nvim ."
alias notes="~/scripts/notes.sh"
alias shadcn-init="npx shadcn-ui@latest init"
alias shadcn="npx shadcn-ui@latest add"
alias dots="~/scripts/backup_dotfiles.sh"
alias reload="~/scripts/reload.sh"
