alias yt="~/scripts/yt.sh"
alias cleand="~/scripts/cleand.sh"
alias cht="~/scripts/cht.sh"
alias nuxt="~/scripts/nuxt"
alias spotify="~/scripts/spotify.sh > /dev/null 2>&1 &"
alias t3="npm create t3-app@latest"
alias tmx="~/scripts/tmx.sh"
alias vim="nvim"
alias p="cd ~/personal/"
alias w="cd ~/work/"
alias clone="~/scripts/clone.sh"
alias keys="~/scripts/update_keys.sh"
alias storm="~/scripts/storm"
alias speed="speedtest-rs --bytes"
alias nv="cd ~/.config/nvim/"
alias notes="~/scripts/notes.sh"
alias obsidian="./squashfs-root/obsidian"
