alias cleand="~/scripts/cleand.sh"
alias tmx="~/scripts/tmx.sh"
alias nv="nvim"
alias vim="nvim"
alias p="cd ~/personal/"
alias w="cd ~/work/"
alias t="cd ~/thirdparty/"
alias clone="~/scripts/clone.sh"
alias nvc="cd ~/.config/nvim/ && nvim ."
alias notes="~/scripts/notes.sh"
alias dots="~/scripts/backup_dotfiles.sh"
alias goset="~/scripts/go.sh"
alias yt="~/scripts/yt.sh"
alias np="pnpm"
alias ...=../..
alias grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'
alias ls='ls --color=tty'
alias lsa='ls -lah'
alias md='mkdir -p'
alias nx='pnpm dlx'
alias reload='source ~/.profile && clear'
alias f="~/scripts/f.sh"
alias wget="~/scripts/wget.sh"
alias ffmchop="~/scripts/ffmchop.sh"
alias journal="~/scripts/jt.sh"
alias jot="~/scripts/jot.sh"
alias h264="~/scripts/h264Convert"
alias gt="git"
alias gg="python3 ~/scripts/gg.py"
