alias cleand="~/scripts/cleand.sh"
alias cht="~/scripts/cht.sh"
alias next="~/scripts/next.sh"
alias spotify="~/scripts/spotify.sh > /dev/null 2>&1 &"
alias tmx="~/scripts/tmx.sh"
alias nv="nvim"
alias vim="nvim"
alias p="cd ~/personal/"
alias w="cd ~/work/"
alias clone="~/scripts/clone.sh"
alias nvc="cd ~/.config/nvim/ && nvim ."
alias notes="~/scripts/notes.sh"
alias shadcn-init="npx shadcn-ui@latest init"
alias shadcn="npx shadcn-ui@latest add"
alias dots="~/scripts/backup_dotfiles.sh"
alias reload="source ~/.zshrc && clear"
alias goset="~/scripts/go.sh"
alias yt="~/scripts/yt.sh"
alias dots="~/scripts/backup_dotfiles.sh"
alias lower="~/scripts/lower.sh"
alias np="pnpm"
alias ...=../..
alias _='sudo '
alias cc=clear
alias grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn,.idea,.tox}'
alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'
alias ls='ls --color=tty'
alias lsa='ls -lah'
alias md='mkdir -p'
alias nx='pnpm dlx'
alias reload='source ~/.profile && clear'
alias f="~/scripts/fzf.sh"
