* {
    font-family: Iosevka Medium, monospace;
}

.actions-container.highlight-toggled {
    display: none !important;
}

.editor .title .actions-container .action-item a {
    visibility: hidden;
}

.editor .title .actions-container {
    flex-direction: row-reverse;
}

.monaco-workbench .part>.header-or-footer, .monaco-workbench .part>.title {
    height: 28px !important;
    padding-left: 0px !important;
}

.monaco-workbench .part>.title>.title-label {
    line-height: 30px !important;
    font-size: 15px !important;
    padding: 10px !important;
}

/* Project title's style at the top. */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

/* File Explorer Selected Item */
.monaco-list.list_id_1 .monaco-list-row.selected {
    opacity: 1 !important;
    padding: 5px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
    display: none !important;
}


.monaco-editor-hover,
.monaco-hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
    padding: 5px !important;
    backdrop-filter: blur(3px) !important;
    margin: 2px !important;
    border-radius: 6px !important;
    border: 1px solid #63697355 !important;
}

/* Project Title */
.titlebar-left {
    justify-content: flex-start !important;
    flex-grow: 0 !important;
    width: auto !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    width: 200px !important;
}

/* Search Label */
.search-label {
   font-family: 'Iosevka Medium' !important;
    font-size: 12px !important;
    padding: 10px;
}

/* Search icon */
.search-icon {
    display: none !important;
}

.codicon-search::before {
    display: none !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
    display: none !important;
}

.titlebar-right>* {
    display: none !important;
}

.monaco-workbench .activitybar {
    display: none !important;
}

.monaco-workbench .sidebar .title-actions {
    display: none !important;
}

.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
    padding: 10px 10px 18px 10px !important;
    border-radius: 6px !important;
    border: 1px solid #63697355 !important;
    font-size: 15px;
    z-index: 1000000 !important;
}

.monaco-workbench::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 999999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
}

.quick-input-widget:not(:empty)~.monaco-workbench::after {
    opacity: 1;
    visibility: visible;
}

.quick-input-list {
    max-height: calc(50vh - 60px) !important;
    overflow-y: auto !important;
}

.scrollbar.vertical .slider {
    width: 2px !important;
    border-radius: 5px !important;
    margin-left: 10px !important;
}

.scrollbar.horizontal .slider {
    border-radius: 5px !important;
    height: 2px !important;
}

.scrollbar.horizontal {
    position: absolute !important;
    height: 2px !important;
    bottom: 3px !important;
    left: 0px !important;
}

.quick-input-title {
    color: #C6D0F5 !important;
}

.monaco-inputbox {
    background-color: #2b2e3c !important;
    padding: 2px;
    font-size: 10px;
    margin-bottom: 10px;
    border-radius: 6px !important;
}

.quick-input-list .monaco-list:not(.mouse-support) {
    border: none !important;
}

.decorationsOverviewRuler {
    display: none !important;
}

.quick-input-list .monaco-list:not(.mouse-support) .monaco-list-row:hover:not(.focused) {
    background-color: #2b2e3c !important;
}
