# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
        $vcsh\
        $fossil_branch\
        $git_branch\
        $git_commit\
        $git_state\
        $git_metrics\
        $git_status\
        $sudo\
        $python\
        $cmd_duration\
        $line_break\
        $character"""

add_newline = false

[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'

[git_branch]
format = "[$branch]($style) "

[git_status]
ahead = '⇡${count}'
diverged = '⇕⇡${ahead_count}⇣${behind_count}'
behind = '⇣${count}'

[python]
format = '[(\($virtualenv\))](bold white dimmed)'
