configuration {
    show-icons: true;
    combi-modi: "window,run";
    timeout {
	action: "kb-cancel";
	delay:  0;
    }
    filebrowser {
	directories-first: true;
	sorting-method:    "name";
    }
}
@theme "/nix/store/frw0hrn5gl0l87badrfgrz77i2idbmzn-rofi-1.7.5/share/rofi/themes/gruvbox-dark-hard.rasi"
